/* Variables */
:root {
    --base-color: #000;
    --accent-color: #fff;
    --white-svg: invert(0%) sepia(100%) saturate(2%) hue-rotate(150deg) brightness(107%) contrast(101%); /* Use with "filter:" */
    --black-svg: invert(100%) sepia(100%) saturate(0%) hue-rotate(191deg) brightness(108%) contrast(101%); /* Use with "filter:" */
  }
/* Make use of the variables like color: var(--base-color); */